<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoZoomerAndCropper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoZoomerAndCropper.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OpenRecent" serializeAs="String">
                <value />
            </setting>
            <setting name="OF1stPassParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="OF2ndPassParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="OFAdditionalParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="OFVideoBitrate" serializeAs="String">
                <value />
            </setting>
            <setting name="OFFrameRate" serializeAs="String">
                <value />
            </setting>
            <setting name="OFVideoSize" serializeAs="String">
                <value />
            </setting>
            <setting name="OFVolume" serializeAs="String">
                <value />
            </setting>
            <setting name="OFAudioBitrate" serializeAs="String">
                <value />
            </setting>
            <setting name="OFAudioChannels" serializeAs="String">
                <value />
            </setting>
            <setting name="OFSampleRate" serializeAs="String">
                <value />
            </setting>
            <setting name="OFAspectRatio" serializeAs="String">
                <value />
            </setting>
            <setting name="OFDeinterlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OFTwoPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OFKeepMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OFAudioNormalize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OFMute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedProfileCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="WhenFinishedIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ShowMsgOnSuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFolderIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputWhenExists" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputFilenamePattern" serializeAs="String">
                <value>[FILENAME]_zoomed</value>
            </setting>
            <setting name="OutputSuffix" serializeAs="String">
                <value>-[N]</value>
            </setting>
            <setting name="RenamePattern" serializeAs="String">
                <value>[FILENAME]_zoomed</value>
            </setting>
            <setting name="OutputPrefix" serializeAs="String">
                <value>[N]-</value>
            </setting>
            <setting name="RecentOutputFolders" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCheckVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="FFMPEG64Bit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyEXIF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepCreationDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepLastModDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Crop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoinOverlayParts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoxThickness" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BoxColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CropJoinVideoAlign" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JoinCropParts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CropPaddingColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Blur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckWeek" serializeAs="String">
                <value>True</value>
            </setting>
        </VideoZoomerAndCropper.Properties.Settings>
    </userSettings>
</configuration>